<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Account Login</h2>
    <form method="post">
        <label>Email: </label><input type="email" name="email" required><br><br>
        <label>Password: </label><input type="password" name="password" required><br><br>
        <button type="submit">Đăng nhập</button>
    </form>
    <p>Not have account yet ? <a href="/register">Register</a></p>
</body>
</html>